.sidenav-container {
    background: #eee;
    height: 93%;
}

.nav{
    min-width: 10%;
}

.nav-header{
    font-size: 20px;
    color:grey;
}

.nav-icon {
    position:relative;
    top: 3px;
}

.active {
    color: #76becf!important;
}

.focus{
    border-left: 5px solid #76becf
}

.nav-button{
    position: relative;
    background-color: white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: grey!important;
}

.open{
    color: #76becf!important;
}

.hidden {
  visibility: hidden;
}

svg {
    cursor: pointer;
    
    rect {
      transition: all .3s ease-in-out;
    }
    
    &:hover{
      .middle {
        x: 0;
        opacity: 0;
      }
      .top {
        transform: rotate(45deg);
        transform-origin: center top;
        x: 50px;
        y: 35px;
      }
      .bottom {
        transform: rotate(-45deg);
        transform-origin: center top;
        x: -20px;
        y: 25px;
      }
    }
  
  }
