<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="push" class="nav" >

        <mat-nav-list class="nav-list" *ngFor="let route of routes; index as i">

          <mat-list-item class="nav-item" [routerLink]="route" routerLinkActive="focus">
            <h3 class="nav-header" routerLinkActive="active" [ngSwitch]="i">
              <!--       Task       -->
              <mat-icon *ngSwitchCase="0" class="nav-icon">dashboard</mat-icon>
              <!--       Profile       -->
              <mat-icon *ngSwitchCase="1" class="nav-icon">account_circle</mat-icon>

              {{route.split('/')[0] | titlecase}}
            </h3>
          </mat-list-item>

<!--            <mat-list-item class="nav-item" routerLink="/tasks" routerLinkActive="focus">-->
<!--                <h3 class="nav-header" routerLinkActive="active"><mat-icon class="nav-icon">dashboard</mat-icon> Tasks</h3>-->
<!--            </mat-list-item>-->

<!--            <mat-list-item class="nav-item" routerLink="/profile" routerLinkActive="focus">-->
<!--                <h3 class="nav-header" routerLinkActive="active"><mat-icon class="nav-icon" >account_circle</mat-icon> User</h3>-->
<!--            </mat-list-item>-->

        </mat-nav-list>

    </mat-sidenav>



    <mat-sidenav-content>
        <div class="content-container">
            <button [class.open]="sidenav.opened"  class="nav-button" type="button" mat-button (click)="sidenav.toggle()">
                <p class="nav-icon"><svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect class="top" x="20" y="29" width="60" height="7.85106" fill="grey" />
                  <rect class="middle" x="20" y="45.5745" width="60" height="7.85106" fill="grey" />
                  <rect class="bottom" x="20" y="62.1489" width="60" height="7.85106" fill="grey" />
                </svg></p>
            </button>
          <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
