<div class="sign-container area">
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
  <mat-card class="login">
    <div class="sign-card">
      <mat-card-content class="login-field">
        <form class="sign-form"  [formGroup]="user" >

          <h2 class="title">Sign In</h2>

          <div>
            <label>Username: </label>
            <mat-form-field class="full-width-input">
              <input matInput #userName placeholder="Username" maxlength="10" formControlName="userName" required>
              <mat-hint>{{userName.value?.length || 0}}/10</mat-hint>
              <mat-error> Minimum Required characters {{userName.value?.length || 0}}/5 </mat-error>
            </mat-form-field>
          </div>

          <div>
            <label>Email: </label>
            <mat-form-field class="full-width-input">
              <input (change)="retrieve()" matInput placeholder="Email" type="email" formControlName="email" required>
              <mat-error *ngIf="!alreadyExists"> Please provide a valid email address </mat-error>
              <mat-error *ngIf="alreadyExists"> Email Already Exists </mat-error>
            </mat-form-field>
          </div>

          <div>
            <label>Password: </label>
            <mat-form-field class="password">
              <input matInput [type]="hide1 ? 'password' : 'text'" #firstPassword type="password" placeholder="Password" formControlName="password" required>
              <button class="show" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
                <mat-error *ngIf="firstPassword.value?.length!=0"> * Minimum 8 chars in total.</mat-error>
                <mat-error *ngIf="firstPassword.value?.length!=0"> * At least two letters.</mat-error>
                <mat-error *ngIf="firstPassword.value?.length!=0"> * At least two digits or symbols.</mat-error>
            </mat-form-field>
          </div>

          <div>
            <label>Confirm Password: </label>
            <mat-form-field class="full-width-input">
              <input matInput [type]="hide2 ? 'password' : 'text'" #secondPassword type="password" placeholder="Confirm Password" formControlName="confirmedPassword" required>
              <button class="show" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error > Passwords do not Match </mat-error>
            </mat-form-field>
          </div>

          <button [disabled]="!user.valid" type="submit" class="login-btn" (click)="onSubmit()" mat-raised-button color="primary">Create Account</button>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
  
</div>



