<mat-toolbar class="top">
  <mat-panel-title class="top-title" routerLink="/home"> YETII </mat-panel-title>
  <p  class="sub-title">Your Efficient Task Integration Interface</p>


  <button *ngIf="_router.url=='/tasks/'+cashedUsername" disableRipple="true" class="top-menu" mat-button [matMenuTriggerFor]="menu">
    <mat-card-header>
      <img src="/assets/sadYeti.png" mat-card-avatar class="example-header-image" alt="">
      <mat-card-title>{{cashedUsername}}</mat-card-title>
    </mat-card-header>
  </button>
  <mat-menu class="menu-list" #menu="matMenu" xPosition="after">
    <mat-card-header>
      <img src="/assets/sadYeti.png" mat-card-avatar class="example-header-image" alt="">
      <mat-card-title>{{cashedUsername|uppercase}}</mat-card-title>
      <mat-card-subtitle>{{cashedEmail}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <ng-template matMenuContent class="menu">
        <button  class="top-btn" routerLink="/profile" mat-menu-item><mat-icon class="top-icon">account_circle</mat-icon> View Profile</button>
        <button class="top-btn" (click)="logout()"  mat-menu-item><mat-icon class="top-icon">exit_to_app</mat-icon> Log off</button>
      </ng-template>
    </mat-card-footer>
  </mat-menu>

</mat-toolbar>

<mat-nav-list [ngSwitch]="navigationIndex">
  <sign-in *ngSwitchCase="'/sign-in'" (loggedIn)="authorized($event)"></sign-in>
  <log-in *ngSwitchCase="'/home'" (loggedIn)="authorized($event)"></log-in>
  <side-nav *ngSwitchDefault></side-nav>
</mat-nav-list>
