<mat-toolbar  class="top">
  <mat-panel-title class="top-title"> TO-DO-LIST APPLICATION</mat-panel-title>


  <button *ngIf="_router.url=='/tasks/'+cashedUsername" disableRipple="true" class="top-menu" mat-button [matMenuTriggerFor]="menu">
    <mat-card-header>
      <img  src="/assets/avatar.png" mat-card-avatar class="example-header-image" alt="">
      <mat-card-title>{{cashedUsername}}</mat-card-title>
    </mat-card-header>
  </button>
  <mat-menu class="menu-list" #menu="matMenu" xPosition="after">
    <mat-card-header>
      <img src="/assets/avatar.png" mat-card-avatar class="example-header-image" alt="">
      <mat-card-title>{{cashedUsername|uppercase}}</mat-card-title>
      <mat-card-subtitle>{{cashedEmail}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <ng-template matMenuContent>
        <button  class="top-btn" routerLink="/profile" mat-menu-item><mat-icon class="top-icon">account_circle</mat-icon> View Profile</button>
        <button class="top-btn" (click)="logout()"  mat-menu-item><mat-icon class="top-icon">exit_to_app</mat-icon> Log off</button>
      </ng-template>
    </mat-card-footer>
  </mat-menu>

</mat-toolbar>

<mat-nav-list style="height: 100%" [ngSwitch]="navigationIndex">
  <sign-in *ngSwitchCase="'/sign-in'" (loggedIn)="authorized($event)"></sign-in>
  <log-in *ngSwitchCase="'/home'" (loggedIn)="authorized($event)"></log-in>
  <side-nav *ngSwitchDefault></side-nav>
</mat-nav-list>


<!--<button [style]="'margin:10px;background-color:green;'">+ Add Task</button>-->

<!--<div>-->

<!--&lt;!&ndash;  <div class="tasks">&ndash;&gt;-->

<!--      <div class="categories">-->

<!--          <div class="column-category">-->
<!--            <div class="mat-headline-4">To do</div>-->
<!--                    <task-card></task-card>-->
<!--          </div>-->

<!--          <div class="vl"></div>-->

<!--          <div class="column-category">-->
<!--            <div class="mat-headline-4">Doing</div>-->
<!--              <ng-container class="tasks" *ngFor="let task of tasks">-->
<!--                  <task-card [task]="task" *ngIf="task.category=='INTERMEDIATE'"></task-card>-->
<!--              </ng-container>-->
<!--          </div>-->

<!--          <div class="vl"></div>-->

<!--          <div class="column-category">-->
<!--            <div class="mat-headline-4">Done</div>-->
<!--              <ng-container class="tasks" *ngFor="let task of tasks">-->
<!--                  <task-card [task]="task" *ngIf="task.category=='ADVANCED'"></task-card>-->
<!--              </ng-container>-->
<!--          </div>-->

<!--      </div>-->

<!--&lt;!&ndash;    <task-card [task]="task">&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;      <task-image [src]="task.iconUrl"></task-image>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;    </task-card>&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->


<!--</div>-->





